body {
  /*min-width: 357px;*/
  /*overflow-x: hidden;*/
  padding: 20px;
  width: 400px;
}

.fill-width-btn {
  margin-top: 5px;
  width: 100%;
}

#input-detail {
  font-weight: bold;
}

.PIP-Window {
  width: 600px;
  height: 400px;
  background-color: black;
  border-radius: 5px;
  opacity: .8;
}